a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Set every element's box-sizing to border-box */

* {
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-size: 62.5%;
	color: black;
	font-family: 'Ubuntu', sans-serif;
	background-color: white;
}

.container {
	margin: 0 auto;
	max-width: 1920px;
}

.navigation {
	  display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    background-color: #f9ed69;
    align-items: center;
}

.logo {
  font-size: 3rem;
  font-weight: 700;
}
.navMenu {
  list-style: none;
}

.navMenu li {
  display: inline-block;
}

#centernav {
  font-size: 2rem;
  float: left;
  margin-right: 300px;
}

#rightnav{
  font-size: 1.5rem;
  float: right;
}
